body {
  background-image: url("https://c1.staticflickr.com/8/7284/9616997915_3ceb277ca1_b.jpg");
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.starwars {
  display: flex;
  justify-content: center;
  position: relative;
  height:800px;
  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 400px;
  text-align: justify;
}

.crawl {
  position: relative;
  top: 1000px;
  transform-origin: 50% 100%;
  animation: crawl 100s linear;
}

@keyframes crawl {

  0% {
    top:700px;
    transform:rotateX(20deg) translateZ(0);
  }

  100% {
    top:-6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}
